/* Define color variables */
:root {
    --background-color: #ffcc66; /* Light beige background */
    --text-color: black;
    --input-background: #FFDD95;
    --button-bg: #4CAF50;
    --button-hover-bg: #45a049;
    --accent-color: #ffcc66;
    --border-color: #ddd;
    --loader-border: #f3f3f3;
    --loader-bg: #3498db;
    --slider-bg: #ccc;
    --slider-active-bg: #4CAF50;
    --tableheader-color: #4CAF50;
    --no-results-bg: #f8d7da;
    --no-results-text: #721c24;
}

/* Fonts */
@font-face {
    font-family: 'Avenir Light';
    src: url('Avenir Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global styles */
body {
    font-family: 'Avenir Light', sans-serif;
    margin: 20px;
    background-color: var(--background-color);
    box-sizing: border-box; /* Ensure box-sizing is applied to the body */
}

h1, h2 {
    color: var(--text-color);
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    font-weight: normal;
}
  
h1 {
    font-size: 1.2em;
}
  
h2 {
    font-size: 1.0em;
}

/* Form styles */
form {
    position: relative;
    max-width: 300px; /* Form max-width */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    display: flex;
    flex-direction: column; /* Ensure form elements stack vertically */
    box-sizing: border-box; /* Ensure box-sizing is applied to the form */
}

/* Wrapper styles */
.input-wrapper {
    position: relative;
    margin-bottom: 20px; /* Space between fields */
}

/* Input and select fields */
input, select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid var(--border-color);
    background: var(--background-color);
    font-family: 'Avenir Light', sans-serif;
    font-size: 14px; /* Adjust font size */
    color: var(--text-color);
    text-align: center;
}

/* Ensure consistent width for dropdowns within .input-group */
.input-group {
    display: flex;
    gap: 10px; /* Space between fields */
    width: 100%; /* Make sure it takes the full width available */
}

.input-group .input-wrapper {
    flex: 1; /* Each input-wrapper will take equal space */
    min-width: 0; /* Prevent items from exceeding their container */
}

.input-group select {
    width: 100%; /* Ensure dropdowns fill the width of their container */
}

/* Floating label styles */
.input-wrapper label {
    position: absolute;
    top: -12px; /* Position inside the input field */
    left: 8px;
    font-size: 12px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.2s ease-out;
    background: var(--input-background);
    padding: 0 4px;
}

/* Floating label transitions */
input:not(:placeholder-shown) + label,
input:focus + label {
    top: -12px; /* Move above the input field */
    left: 8px;
    font-size: 12px;
    color: var(--text-color);
}

/* Styles for the clickable link */
.flights-link {
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 300px;
    background-color: var(--accent-color);
    color: black;
    text-decoration: none;
    font-family: 'Avenir Light', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}
  
.flights-link:hover,
.flights-link:active {
    background-color: var(--input-background);
    transform: translateY(-2px);
}

#adults, #numberOfRooms {
    -webkit-appearance: none; /* Removes default styling in WebKit-based browsers */
    -moz-appearance: none; /* Removes default styling in Firefox */
    appearance: none; /* Standard property for all browsers */
}

#currency {
    text-transform: uppercase; /* Display text in uppercase */
}

/* Button styles */
button {
    background-color: var(--button-bg);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-family: 'Avenir Light', sans-serif;
    width: 100%; /* Make the button span the full width of its container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 12px; /* Space below each button */
}

button:hover,
button:active {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

/* Disabled button styles */
button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Loader animation styles */
.loader {
    display: none; /* Hide loader initially */
    position: absolute; /* Position absolute relative to the form */
    top: 50%; /* Center vertically in the form */
    left: calc(50% - 15px); /* Adjust left position with calc, considering loader width */
    transform: translate(-50%, -50%); /* Adjust the positioning correctly */
    z-index: 1000; /* Make sure it's above other elements */
    border: 4px solid var(--loader-border);
    border-radius: 50%;
    border-top: 4px solid var(--loader-bg);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

/* No results message styles */
#noResultsMessage {
    text-align: center;
    font-size: 14px; /* Increased for better readability */
    color: var(--no-results-text);
    background-color: var(--no-results-bg);
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 600px;
}

/* Results box styles */
.results-box {
    max-width: 300px; /* Match the form's max-width */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    display: none; /* Hide the box initially */
    box-sizing: border-box; /* Ensure box-sizing is applied to the results box */
}

/* Card styles for results */
.card {
    display: block;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    width: 100%; /* Ensure cards are full-width */
    max-width: 300px; /* Match the form's max-width */
    position: relative; /* Allow for absolute positioning of child elements */
    box-sizing: border-box; /* Ensure box-sizing is applied to the card */
}

.card-header {
    font-weight: bold;
    font-size: 12px; /* Increased font size for prominence */
}

.hotel-name {
    margin-right: 60px;
}

.room-type {
    color: #666; /* Optional: lighter color for smaller text */
    margin-bottom: 5px;
}

.distance {
    position: absolute;
    top: 10px; /* Position the distance container at the top */
    right: 10px; /* Align it to the right edge of the card */
    background: var(--accent-color); /* Optional: background for better visibility */
    padding: 5px;
    border-radius: 5px;
        font-size: 0.5em; /* Smaller text for distance */
    color: var(--text-color);
}

.rating {
    position: absolute;
    top: 40px; /* Position the distance container at the top */
    right: 10px; /* Align it to the right edge of the card */
    background: var(--button-bg); /* Optional: background for better visibility */
    padding: 5px;
    border-radius: 5px;
        font-size: 0.5em; /* Smaller text for rating */
    color: var(--text-color);
}

.card-content {
    font-size: 10px; /* Adjusted font size */
}


.checkbox-container {
    position: absolute;
    top: 65px; /* Position the checkbox container */
    right: 10px; /* Align it to the right edge of the card */
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6em; /* Smaller text for distance */
    color: var(--text-color);
    display: flex;
    align-items: center;
}

/* Adjusted to move the description up */
.checkbox-description {
    color: green;
    margin-bottom: 0; /* Reset margin */
    position: relative; /* Relative positioning to move up */
    top: -2px; /* Adjust as needed to move the description up */
    font-weight: bold; /* Optional: Style for label */
    font-size: 10px; /* Adjust font size as needed */
}

.select-checkbox {
    width: auto;
    margin-top: 0; /* Adjust spacing if necessary */
}


/* Help text styling */
#submitText {
    font-size: 12px; /* Adjust font size as needed */
    color: green; /* Use your text color variable */
    margin-top: 10px; /* Space between button and text */
    text-align: center; /* Center the text */
    display: block; /* Ensure it's displayed when shown */
}

/* Align label and amount */
.card-content .price-per-night,
.card-content .total-price {
    display: flex;
}

.card-content .price-per-night .label,
.card-content .total-price .label {
    font-weight: bold; /* Optional: Style for label */
    margin-right: 4px;
}


