/* Define color variables */
:root {
    --background-color: #ffcc66; /* Light beige background */
    --text-color: black;
    --input-background: #FFDD95;
    --button-bg: #4CAF50;
    --button-hover-bg: #45a049;
    --accent-color: #ffcc66;
    --border-color: #ddd;
    --loader-border: #f3f3f3;
    --loader-bg: #3498db;
    --slider-bg: #ccc;
    --slider-active-bg: #4CAF50;
    --tableheader-color: #4CAF50;
    --no-results-bg: #f8d7da;
    --no-results-text: #721c24;
}

/* Fonts */
@font-face {
    font-family: 'Avenir Light';
    src: url('Avenir Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;          /* Ensure full height for proper centering */
    padding: 0;            /* Remove any default padding */
}


/* Global styles */
body {
    font-family: 'Avenir Light', sans-serif;
    background-color: var(--background-color);
    box-sizing: border-box; /* Ensure box-sizing is applied to the body */
    margin: 20px;
}

h1, h2 {
    color: var(--text-color);
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: var(--accent-color);
    font-weight: normal;
}
  
h1 {
    font-size: 1.2em;
}
  
h2 {
    font-size: 1.0em;
}

/* Form styles */
form {
    position: relative;
    max-width: 300px; /* Form max-width */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    display: flex;
    flex-direction: column; /* Ensure form elements stack vertically */
    box-sizing: border-box; /* Ensure box-sizing is applied to the form */
}

/* Wrapper styles */
.input-wrapper {
    position: relative;
    margin-bottom: 20px; /* Space between fields */
}

/* Input and select fields */
input, select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid var(--border-color);
    background: var(--background-color);
    font-family: 'Avenir Light', sans-serif;
    font-size: 14px; /* Adjust font size */
    color: var(--text-color);
    text-align: center;
}

.form-control, .form-control:focus {
background: var(--background-color);
}

/* Ensure consistent width for dropdowns within .input-group */
.input-group {
    display: flex;
    gap: 10px; /* Space between fields */
    width: 100%; /* Make sure it takes the full width available */
}

.input-group .input-wrapper {
    flex: 1; /* Each input-wrapper will take equal space */
    min-width: 0; /* Prevent items from exceeding their container */
}

.input-group select {
    width: 100%; /* Ensure dropdowns fill the width of their container */
}

/* Floating label styles */
.input-wrapper label {
    position: absolute;
    top: -12px; /* Position inside the input field */
    left: 8px;
    font-size: 12px;
    color: var(--text-color);
    pointer-events: none;
    transition: all 0.2s ease-out;
    background: var(--input-background);
    padding: 0 4px;
}

/* Floating label transitions */
input:not(:placeholder-shown) + label,
input:focus + label {
    top: -12px; /* Move above the input field */
    left: 8px;
    font-size: 12px;
    color: var(--text-color);
}

/* Styles for the clickable link */
.flights-link {
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
    max-width: 300px;
    background-color: var(--accent-color);
    color: black;
    text-decoration: none;
    font-family: 'Avenir Light', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}
  
.flights-link:hover,
.flights-link:active {
    background-color: var(--input-background);
    transform: translateY(-2px);
}

#adults, #numberOfRooms, #currency {
    -webkit-appearance: none; /* Removes default styling in WebKit-based browsers */
    -moz-appearance: none; /* Removes default styling in Firefox */
    appearance: none; /* Standard property for all browsers */
}

#currency {
    text-transform: uppercase; /* Display text in uppercase */
}

/* Button styles */
button {
    background-color: var(--button-bg);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
    font-family: 'Avenir Light', sans-serif;
    width: 100%; /* Make the button span the full width of its container */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 12px; /* Space below each button */
}

button:hover,
button:active {
    background-color: var(--button-hover-bg);
    transform: translateY(-2px);
}

/* Disabled button styles */
button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* Loader animation styles */
.loader {
    display: none; /* Hide loader initially */
    position: absolute; /* Position absolute relative to the form */
    top: 50%; /* Center vertically in the form */
    left: calc(50% - 15px); /* Adjust left position with calc, considering loader width */
    transform: translate(-50%, -50%); /* Adjust the positioning correctly */
    z-index: 1000; /* Make sure it's above other elements */
    border: 4px solid var(--loader-border);
    border-radius: 50%;
    border-top: 4px solid var(--loader-bg);
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

/* No results message styles */
#noResultsMessage {
    text-align: center;
    font-size: 14px; /* Increased for better readability */
    color: var(--no-results-text);
    background-color: var(--no-results-bg);
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 600px;
}

/* Results box styles */
.results-box {
    max-width: 300px; /* Match the form's max-width */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    display: none; /* Hide the box initially */
    box-sizing: border-box; /* Ensure box-sizing is applied to the results box */
}

/* Card styles for results */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--input-background);
    width: 100%; /* Ensure cards are full-width */
    max-width: 300px; /* Match the form's max-width */
    position: relative; /* Allow for absolute positioning of child elements */
    box-sizing: border-box; /* Ensure box-sizing is applied to the card */
    --bs-card-border-color: var(--input-background);
    min-height: 200px; /* Set a minimum height for the card */
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
    padding: 0;
    background-color: var(--input-background);
    font-weight: bold;
    font-size: 14px; /* Increased font size for prominence */
    margin-bottom: 10px;
}

.hotel-name {
    margin-right: 60px;
    padding-bottom: 20px;
}

.distance {
    position: absolute;
    top: 10px; /* Position the distance container at the top */
    right: 10px; /* Align it to the right edge of the card */
    background: var(--accent-color); /* Optional: background for better visibility */
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em; /* Smaller text for distance */
    color: var(--text-color);
}

.rating {
    position: absolute;
    top: 40px; /* Position the rating container below the distance */
    right: 10px; /* Align it to the right edge of the card */
    background: var(--button-bg); /* Optional: background for better visibility */
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em; /* Smaller text for rating */
    color: var(--text-color);
}

.card-content {
    font-size: 12px; /* Adjusted font size */
    margin-top: auto; /* Push content to the bottom */
}

/* Modern iOS-like checkbox styles */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff; /* Optional: background for better visibility */
    margin-top: auto; /* Push the checkbox container to the bottom */
}

.checkbox-description {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.select-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s, background-color 0.3s;
}

.select-checkbox:checked {
    border-color: #007aff;
    background-color: #007aff;
}

.select-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Help text styling */
#submitText {
    font-size: 12px; /* Adjust font size as needed */
    color: green; /* Use your text color variable */
    margin-top: 10px; /* Space between button and text */
    text-align: center; /* Center the text */
    display: block; /* Ensure it's displayed when shown */
}

/* Align label and amount */
.card-content .price-per-night,
.card-content .total-price {
    display: flex;
}

.card-content .price-per-night .label,
.card-content .total-price .label {
    font-weight: bold; /* Optional: Style for label */
    margin-right: 4px;
}

/* Modal Styles */
body.modal-open {
    overflow: hidden; /* Prevent background scroll */
}

/* Modal Content */
.modal-content {
    background-color: var(--input-background);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Avenir Light', sans-serif;
    width: 100%;  /* Ensure content takes full width */
    max-width: 500px;  /* Limit the width of the modal */
    margin: 0 auto;  /* Center content horizontally */
}

/* Center the modal vertically and horizontally */
.modal-dialog {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: start;  /* Show at the top */
    height: 100vh;  /* Full viewport height */
    max-width: 500px;  /* Restrict the modal width */
    margin: 0 auto;  /* Ensure it's centered horizontally */
}

/* Modal Header */
.modal-header {
    background-color: var(--accent-color);
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    font-size: 1.2em;
    font-weight: normal;
    padding: 15px;
}

.modal-title {
    font-family: 'Avenir Light', sans-serif;
}

/* Close button in header */
.modal-header .btn-close {
    color: var(--text-color);
    opacity: 1;
    background: transparent;
}

/* Modal Body */
.modal-body {
    padding: 20px;
    color: var(--text-color);
    font-size: 1em;
    text-align: center;
}

/* Modal Footer */
.modal-footer {
    border-top: 1px solid var(--border-color);
    padding: 15px;
    justify-content: center;
}

/* Buttons inside Modal */
.modal-footer .btn-primary {
    background-color: var(--button-bg);
    border: none;
    color: white;
    font-family: 'Avenir Light', sans-serif;
    transition: background-color 0.3s;
    width: auto;
}

.modal-footer .btn-primary:hover {
    background-color: var(--button-hover-bg);
}

.modal-footer .btn-secondary {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-family: 'Avenir Light', sans-serif;
    width: auto;
}

.modal-footer .btn-secondary:hover {
    background-color: var(--input-background);
}
